.header {
  padding: 12px 16px;
  position: relative;
  width: 100%;
}

.header__bar {
  align-items: center;
  display: flex;
  gap: 16px;
}

.header .header__nav {
  display: none;
}

.header_open .header__nav {
  background-color: var(--color-bg);
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 2;
}

.header__social-links {
  margin-left: auto;
}

.header__logo {
  height: 32px;
  width: 32px;
}
