@use 'mixins' as *;
@use 'breakpoints' as *;

.burger {
  @include reset-button;

  display: flex;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  padding: 6px 3px;
  width: 24px;

  @include tablet {
    display: none;
  }
}

.burger__line {
  @include transition(transform, opacity);

  background-color: var(--color-text);
  height: 2px;
  width: 100%;
}

.burger_open .burger__line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.burger_open .burger__line:nth-child(2) {
  opacity: 0;
}

.burger_open .burger__line:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
