@use 'breakpoints' as *;

.section {
  display: grid;
  gap: 25px;
  padding: 25px 16px;

  @include tablet {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    padding: 25px 56px;

    &:nth-child(even) > :first-child {
      order: 2;
    }
  }
}
