@use 'breakpoints' as *;
@use 'mixins' as *;

.social-links__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  @include desktop {
    flex-direction: column;
  }
}

.social-links__icon {
  @include transition(color);

  color: var(--color-social);
  height: 28px;
  width: 28px;
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus-visible .social-links__icon,
.social-links__link:active .social-links__icon {
  color: var(--color-accent);
}

.social-links__link:focus-visible {
  border-radius: 4px;
  outline: 2px solid var(--color-accent);
  outline-offset: 4px;
}

.social-links__link {
  @include interactive-shift;
  @include transition(transform);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.social-links__label {
  color: var(--color-accent);
  font-size: 18px;
  font-weight: 500;
}
