@use 'mixins' as *;

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
}

.nav__link {
  @include transition(color);

  color: var(--color-nav-link);
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  padding: 22px 12px;

  &:hover,
  &:focus-visible,
  &:active {
    color: var(--color-accent);
  }
}

.nav__link_active {
  color: var(--color-accent);
}
